NODE_ENV=development
PORT=4000
DATABASE_URL="file:./dev.db"
JWT_ACCESS_SECRET=change-me-access-secret-min-32-chars
JWT_REFRESH_SECRET=change-me-refresh-secret-min-32-chars
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES_DAYS=30
APP_NAME="Hacé que pase"
APP_PUBLIC_URL=http://localhost:4000
CORS_ORIGINS=http://localhost:8081,http://localhost:19006,http://localhost:3000
UPLOAD_DIR=uploads
MAX_PHOTOS=6
CHECKIN_LOCATION_ENABLED=false
CHECKIN_MAX_DISTANCE_METERS=500
